.childContainer {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: rgb(243, 167, 167);
    height: 20rem;
    width: 35rem;
    border-radius: 0 0 70px 70px;
}

@media screen and (max-width:700px) {
    .childContainer {
        height: 21rem;
        width: 310px;
        margin-top: -10px;
    }
}